/* FONT */

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans.light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('fonts/leaguegothic-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}


/* GENERAL */

body {
    font-family: "Open Sans";
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.page-wrapper{
    background-color: #F3F3F3;
    padding: 25px 10% 50px 10%;
}
.page-inner{
    background-color: #fff;
    padding: 5px 3% 5px 3%;
}


/* HELPER */

.align-center {
    text-align: center;
}

/*  COLOR PALETTE */

.c-flatred {
    background-color: #F17C71;
}

.c-lightblue {
    background-color: #32AC97;
}

.c-darkblue {
    background-color: #363B48;
}

.important {
    color: rgb(224, 94, 82);
}

/* UI ELEMENT */

.btn-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 27px 0;
    font-size: 40px;
    line-height: 1.42;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;
}

.btn-circle:hover {
    color: #fff;
    transform: scale(1.1);
}

h3.with-circle{
    margin-top: 7px;
}


/* CARROUSSEL */

.carrousel-fixed {
    background: #F5F4F0;
    width: 100%;
    height: auto;
    padding: 50px 15% 60px 15%;
    margin: 0;
    color: #101010;
    text-align: center;
}

.cf-title {
    font-family: "LeagueGothic";
    font-size: 170px;
    color: rgba(0, 0, 0, 0.85);
    text-transform: uppercase;
}


/* ARROW CARROUSSEL */

.arrow-wrap {
    position: relative;
    z-index:1;
    left:50%;
    margin-top: 10px;
    margin-left:-5em;
    margin-bottom: -10px;
    background:#111;
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    font-size:0.5em;
    display:block;
    box-shadow:0px 0px 5px 0px #333;
}

.arrow {
    float:left;
    position:relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}

.arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}


.hint {
    position:absolute;
    top:0.6em;
    width:100%;
    left:0;
    font-size:2em;
    font-style:italic;
    text-align:center;
    color:#fff;
    opacity:0;
}


.arrow-wrap:hover .hint {
    opacity:1;
}


@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}

/* INFO STYLE */

.ci-info {
    margin: 25px 0 25px 0;
    padding: 0 15px 0 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.last-item{
    padding: 15px 120px 15px 120px;
}


/* FORM */

.space-under{
    margin-bottom: 20px;
}

.form-control{
    color: #434a54;
    border-color: #aab2bd;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: rgba(231, 76, 60, 0.5);
}

.three-logo-column{
    font-size: 90px;
    margin-bottom: 8px;
}

.bordering{
    border: 1px solid #CCC;
    border-top: none;
    border-bottom: none;
}

.video-box{
    padding: 20px 0 10px 0;
}

.block-hidden{
    visibility: hidden;
}

.youtube-color, .red:hover{
    color: #e52d27;
}

.vine-color, .green:hover{
    color: #00a478;
}

.instagram-color, .blue:hover{
    color: #517fa4;
}

.btn-circle-title{
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 3px;
    font-size: 22px;
    line-height: 1.42;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(224, 94, 82);
    border-color: transparent;
}

.btn-submitted{
    width: 100%;
    height: 45px;
}

#slider-value-form{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}



/* RESPONSIVE */

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

    .container{
        width: 100%;
    }

    .cf-title {
        font-size: 70px;
    }

    .last-item {
        padding: 0;
    }

    h1{
        font-size: 25px;
    }
    h3.with-circle{
        font-size: 17px;
        margin-top: 11px;
    }

    .bordering{
        border: 1px solid #CCC;
        border-right: none;
        border-left: none;
    }

    .xs-hidden{
        width: 20px;
        color: rgb(217, 83, 79);
    }

    .chooseOne{
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .show-up{
        margin-bottom: 10px;
    }

}
