@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/leaguegothic-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Open Sans';
}

h2{
	font-family: 'LeagueGothic';	
	font-size: 50px;
	text-transform: uppercase;
}




/* NAVBAR */

.navbar{
	background-color: #474D58;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #F1A9A0;
    opacity: 0.7;
    background-color: #6C7A89;
}

.text-for-menu{
	margin-left: 20px;
}




/* HELPER */

.width100{
	width: 100%;
}

.h320{
	height: 320px;
}

.form-control{
	margin-bottom: 10px;
}

.text-for-menu{
	margin-left: 20px;
}

.little-margin-right{
	margin-right: 8px;
}

.hidden{
	display: none;
}




/* UI */

.list-box{
	background: #EEEEEE;
	padding: 10px 25px;
	width: 100%;
	margin: 15px 0;
}

.list-box p{
	margin: 2px;
}

.day{
	min-height: 90px;
	margin: 10px 0;
}

.desc-box{
	height: 55px;
	background: #965588;
	color: #fff;
	margin: 10px 0;
	padding: 10px 10px;
	position: relative;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}

.logo{
	position: absolute;
	right: 20px;
	bottom: 5px;
	font-size: 2em;
}





/* TABLET */

@media all and (min-width: 768px){
	.desc-box{
		height: 200px;
		background: #965588;
		color: #fff;
		margin: 10px 0;
		padding: 15px 10px;
		position: relative;
		font-size: 24px;
		font-weight: 900;
		text-transform: uppercase;
	}

	.logo{
		position: absolute;
		right: 20px;
		bottom: 10px;
		font-size: 0.8em;
	}
}

/* LAPTOP */

@media all and (min-width: 992px){

}

/* LARGE DEVICES */

@media all and (min-width: 1200px){

}